@CHARSET "UTF-8";
.layout-nav {
    position: fixed;
    top: 50px;
    width: 100%;
    z-index: 11;
    background: #ff0000;
    border-bottom: 1px solid #e5e5e5;
    transition: padding 0.15s;
    text-align: center;
}
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  .main {
    flex: 1 0 auto;
  }
 /* .header{
   color: #fff;
  background-color: #ee6e73;
  width: 100%;
  height: 56px;
  line-height: 56px;
}*/
/*nav ul a {
  transition: background-color .3s;
  font-size: 1rem;
  color: #000000;
  display: block;
  padding: 0 15px;
  cursor: pointer;
}


nav .brand-logo {
  position: absolute;
  color: #000000;
  display: inline-block;
  font-size: 2.1rem;
  padding: 0;
  white-space: nowrap;
}*/



/*footer.page-footer {
  margin-top: 20px;
  padding-top: 20px;
  background-color: #ee6e73;
}

footer.page-footer .footer-copyright {
  overflow: hidden;
  height: 50px;
  line-height: 50px;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(51, 51, 51, 0.08);
}*/
    